.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  column-gap: 16px;
  padding: 88px 8px 8px;
}

.container .message-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  row-gap: 16px;
}

.container .message-section .send-message__form {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.container .message-section .send-message__form .send-message__form__button {
  flex: 1;
  min-width: 80px;
  height: 56px;
  padding: 8px;
  border-radius: 8px;
  background-color: #6c9bcf;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 88px 16px 16px 8px;
  }
}
