body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Roboto", "Oxygen",
    "Cantarell", "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: none;
  background-color: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
