.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  max-height: 100%;
  overflow-y: scroll;
}

.container .message {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: lightgray;
  border-radius: 8px;
  padding: 8px;
}

.container .message .message-author {
  font-size: 24px;
  font-weight: 600;
}

.container .message .message-text {
  font-size: 16px;
}
