.container {
  width: 200px;
  height: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}

.container .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.container .list .list-item {
  width: 100%;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
  }
}
