.container {
  display: flex;
  width: 100%;
  height: 56px;
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
  padding: 8px;
  align-items: flex-end;
  box-sizing: border-box;
  background-color: white;
}
.container .label {
  position: absolute;
  left: 8px;
  top: 16px;
  transition: all 0.2s ease-in-out;
  transform-origin: left;
}
.container .input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
}
.filled {
  border-color: blue;
}
.filled .label {
  transform: scale(0.8);
  top: 8px;
  color: blue;
}
.error {
  border-color: red;
}
.error .label {
  color: red;
}
.disabled {
  border-color: rgba(239, 239, 239, 0.3);
  background-color: rgba(239, 239, 239, 0.3);
}
.disabled .label {
  color: rgba(59, 59, 59, 0.3);
}
.disabled input {
  background-color: rgba(239, 239, 239, 0.3);
}
