.container {
  width: 100%;
  height: 72px;
  padding: 16px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.container .logo {
  font-size: 32px;
}

.container .login-button {
  font-size: 24px;
}
